* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 600;
}
body {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 35.87em;
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 4fr;
  background-color: #1e90ff;
  border-radius: 0.5em;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}
.clock-container {
  background-color: #1a1a1a;
  color: #ffff;
  text-align: center;
  font-size: 3.7em;
  margin-left: 0.2em;
  border-radius: 0.1em;
  padding: 0.2em 0;
  display: flex;
  justify-content: center;
  align-self: center;
}

.clock-container span {
  width: 120px;
  display: inline-block;
  text-align: center;
}
.hours {
  color: #ff0000;
}
.Minutes {
  color: #00ff00;
}
.Secons {
  color: #0000ff;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 5px #ffff, 0 0 20px #ffff;
  }
  100% {
    box-shadow: 0 0 20px #ffff, 0 0 20px #ffff;
  }
}

.date-container {
  padding: 10px;
  text-align: center;
  background-color: #1e90ff;
  /* background-color: #ffff; */
  color: #fff;
  border-radius: 5px;
}

.date-container span {
  font-size: 2.5em;
}
